<div id="menu">
<ul>
<li class="<%= menu_active_rex(%r{^/index.html$}) %>"><a href="/index.html">Home</a></li>
<li class="<%= menu_active("sample") %>"><a href="/sample/index.html">Sample</a></li>
</ul>
</div>
