<div id="menu">
<ul>
<li class="<%= menu_active_rex(%r{^/index.html$}) %>"><a href="/index.html">Home</a></li>
<li class="<%= menu_active("menu1") %>"><a href="/menu1/index.html">Menu 1</a></li>
<li class="<%= menu_active("menu2") %>"><a href="/menu2/index.html">Menu 2</a></li>
</ul>
</div>
