<div id="sidebar">
<h2>Links</h2>
<ul>
  <li><a href="http://rubyforge.org/projects/smallcage/">RubyForge</a></li>
  <li><a href="http://www.smallcage.org/ja/documents/">Documents</a></li>
</ul>
</div>