<div id="sidebar">
<ul>
<li class="<%= menu_active("sample2/1") %>"><a href="/sample2/1">First page</a></li>
<li class="<%= menu_active("sample2/2") %>"><a href="/sample2/2">Second page</a></li>
</ul>
</div>
