<div class="sidebar">
<ul>
<li class="<%= menu_active_rex(%r{^/(ja|en)/index.html$}) %>"><a href="/<%= lang %>/index.html">Home</a></li>
<li class="<%= menu_active("about") %>"><a href="/about/index.html">About</a></li>
</ul>
</div>
