@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

a:link { text-decoration: none; color:#03c; }
a:visited { text-decoration: none; color:#03c; }
a:hover { text-decoration: none; color:#fff; background: #03c}
a:active { text-decoration: none; color:#03c; background: #fff}

body {
  line-height: 1.7em;
 font-family:Helvetica, sans-serif;
}

#container {
  height: 100%;
  min-width:760px;
}

#header {
  background: #03c;
  color: #FFF;
  overflow: hidden;
  width: 100%;
}

#header a:link { text-decoration: none; color:#fff; }
#header a:visited { text-decoration: none; color:#fff; }
#header a:hover { text-decoration: none; color:#fff; background: none}
#header a:active { text-decoration: none; color: none; background: none}

#header h1.site_title,
#header h2.site_title {
 font-weight: normal;
 font-size: 2em;
 margin: 0.9em 0.9em 0.6em 0.9em;
}

#header h2.description,
#header h3.description {
  font-size: 1em;
  font-weight: normal;
  margin: 0 1.8em 1.8em 1.8em;
}

#menu li {
  display: inline;
}

#menu a{
  padding: 0.6em 1.8em 0.6em 1.8em;
  background: #36f;
}

#menu a:hover{
  color:#03c;
  background: #fff;
}

#menu .active a,
#menu .active a:active{
  color:#03c;
  background: #eee
}

#topic_path {
  padding: 0.3em 1.8em 0.3em 1.8em;
  margin-bottom: 1.2em;
  background: #eee;
}

#topic_path .delimiter {
  color: black;
  margin-left: 0.3em;
  margin-right: 0.3em;
  font-size: 0.85em;
}

#topic_path a {
  font-size: 0.85em;
}

#main {
  float: left;
  width: 100%;
  margin-right : -12em;
}

#main .contents {
  padding: 0 1.8em 1.8em 1.8em;
   margin-right: 12em;
}

#main h1{
  margin-bottom: 0.9em;
}

#main h2{
  font-size: 1.2em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

#main h3{
  font-size: 1em;
  font-weight: bold;
}

#main p{
  margin-bottom: 1.8em;
}

#main ul{
  margin-left: 1.2em;
}

#sidebar{
  float: right;
  width: 12em;
}

#sidebar h2{
  font-size: 1.2em;
  margin-bottom: .3em;
  font-weight: bold;
}

#sidebar  ul{
    margin-left: 1.2em;
}

#footer {
  clear: both;
  padding: 1.2em 0 1.2em 0;
  margin-top: 24em;
  font-size: 0.85em;
}

#footer .copyright{
  margin-left: 1.8em;
  font-size: 85%;
}