@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

a:link { text-decoration: none; color:#03c; }
a:visited { text-decoration: none; color:#03c; }
a:hover { text-decoration: none; color:#fff; background: #03c}
a:active { text-decoration: none; color:#03c; background: #fff}

body{
  line-height: 1.7em;
 font-family:Helvetica, sans-serif;
}

#container {
  height: 100%;
  min-width:760px;
}

#header {
  background: #03c;
  color: #FFF;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#header a:link { text-decoration: none; color:#fff; }
#header a:visited { text-decoration: none; color:#fff; }
#header a:hover { text-decoration: none; color:#fff; background: none}
#header a:active { text-decoration: none; color: none; background: none}

#header h1{
 font-weight: normal;
 font-size: 2em;
 margin: 0.9em 0.9em 0.6em 0.9em;
}

#header h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 1.8em 1.8em 1.8em;
}

#menu{
  position: absolute;
  left: 288px;
  bottom: 1.8em;
}

#menu li{
  display: inline;
  margin-right: 1.8em;
}

#menu a:hover,
#menu .active a,
#menu .active a:visited{
  color:#03c; background: #fff
}

#topicpath {
  background: #eee;
  padding: 0.3em 1.8em 0.3em 1.8em;
}

#topicpath .delimiter {
  color: black;
  margin-left: 0.3em;
  margin-right: 0.3em;
  font-size: .8em;
}

#topicpath a {
  font-size: .8em;
}

#main {
  width:100%;
  float:right;
  margin-left: -288px;
}

#main .contents {
  margin-left: 288px;
  padding: 1.2em 1.8em 1.8em 0;
}

#main h1{
  margin-bottom: .9em;
}

#main h2{
  font-size: 1.2em;
  margin-bottom: .3em;
  font-weight: bold;
}

#main h3{
  font-size: 1em;
  font-weight: bold;
}

#main p{
  margin-bottom: 1.8em;
}

#sidebar {
  width: 288px;
  float: right;
  line-height: 1.8em;
}

#sidebar ul{
  padding: 1.2em 1.8em 1.8em 1.8em;
}

#sidebar li {
  list-style: none;
}

#sidebar .active a{
  text-decoration: none;
  color:#fff;
  background: #03c;
}

#footer {
  clear: both;
  padding: 1.2em 0 1.2em 0;
  margin-top: 12em;
}

#footer .copyright{
  margin-left: 288px;
  font-size: 85%;
}